<div class="container mt-32">
  <div class="d-flex">
    <form action="" method="" [formGroup]="shippingDetails">
      <div class="title ml-3">
        <h2>Shipping Details</h2>
      </div>
      <br />
      <label>
        <span class="fname"> First Name <span class="required"> * </span></span>
        <input type="text" name="fname" placeholder="Enter your First Name" formControlName="FirstName" />
      </label>
      <label>
        <span class="lname"> Last Name <span class="required"> * </span> </span>
        <input type="text" name="lname" placeholder="Enter your Last Name" formControlName="LastName" />
      </label>

      <label>
        <span> Address <span class="required"> * </span></span>
        <input type="text" name="address" placeholder="Enter your address" formControlName="Address" />
      </label>
      <label>
        <span> Town / City <span class="required">*</span></span>
        <input type="text" name="city" placeholder="Enter your City" formControlName="City" />
      </label>
      <label>
        <span> State <span class="required">*</span></span>
        <input type="text" name="state" placeholder="Enter your State" formControlName="State" />
      </label>
      <label>
        <span> Country <span class="required">*</span></span>
        <input type="text" name="country" placeholder="Enter your Country" formControlName="Country" />
      </label>
      <label>
        <span> Postcode / ZIP <span class="required">*</span></span>
        <input type="text" name="zip" placeholder="Enter your Zip Code" formControlName="ZipCode" />
      </label>
      <label>
        <span> Phone No. <span class="required">*</span></span>
        <input type="tel" name="phone" placeholder="Enter your Contact Details" formControlName="Phone" />
      </label>
      <label>
        <span>Address Type <span class="required">*</span></span>
        <select name="addtype" formControlName="AddressType">
          <option value="select">Address Type..</option>
          <option value="Residential">Residential</option>
          <option value="Commercial">Commercial</option>
        </select>
      </label>
    </form>

    <div class="Yorder">
      <table class="table">
        <colgroup>
          <col style="width: 180px" />
          <col style="width: 40px" />
          <col style="width: 20px" />
          <col style="width: 70px" />
        </colgroup>
        <tr>
          <th>Product</th>
          <th>Rate</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>
        <tr *ngFor="let product of productList">
          <td>{{ product.title }}</td>
          <td>${{ product.ourPrice | number: '1.2-2' }}</td>
          <td>{{ product.quantity }}</td>
          <td>${{ product.cartTotal | number: '1.2-2' }}</td>
        </tr>
        <tr>
          <td>Subtotal</td>
          <td></td>
          <td></td>
          <td>
            <b>${{ TotalPrice | number: '1.2-2' }}</b>
          </td>
        </tr>
        <tr>
          <td>Shipping</td>
          <td></td>
          <td></td>
          <td>
            <b>${{ taxData.shipping | number: '1.2-2' }}</b>
          </td>
        </tr>
        <tr>
          <td>Tax</td>
          <td></td>
          <td></td>
          <td>
            <b>${{ taxData.tax | number: '1.2-2' }}</b>
          </td>
        </tr>
        <tr>
          <td>Total</td>
          <td></td>
          <td></td>
          <td>
            <b>${{ taxData.finalPay | number: '1.2-2' }}</b>
          </td>
        </tr>
      </table>
      <br />
      <!-- <div>
      <input type="radio" name="dbt" value="dbt" checked> Direct Bank Transfer
    </div>
    <p>
        Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.
    </p>
    <div>
      <input type="radio" name="dbt" value="cd"> Cash on Delivery
    </div>
    <div>
      <input type="radio" name="dbt" value="cd"> Paypal <span>
      </span>
    </div>   -->
      <button type="button" (click)="makePayment()">Make Payment</button>
    </div>
  </div>
</div>
