  <div class="container mt-32">  
 
<div class="d-flex">  
  <form action="" method="">  
    <div class="title ml-3">  
      <h2> Shipping Details</h2>  
  </div>  
    <label>  
      <span class="fname"> First Name <span class="required"> * </span></span>  
      <input type="text" name="fname">  
    </label>  
    <label>  
      <span class="lname"> Last Name <span class="required"> * </span> </span>  
      <input type="text" name="lname">  
    </label>  
    
    <label>  
      <span>Country <span class="required">*</span></span>  
      <select name="selection">  
        <option value="select"> Select a country... </option>  
        <option value="IND">India</option>  
        <option value="IND">Canada</option> 
        <option value="IND">England</option> 
        <option value="IND">USA</option> 
         
      </select>  
    </label>  
    <label>  
      <span> Address <span class="required"> * </span></span>  
      <input type="text" name="houseadd" placeholder="House number and street name" required>  
    </label>  
    <label>  
      <span> </span>  
      <input type="text" name="apartment" placeholder="Apartment, suite, unit etc. (optional)">  
    </label>  
    <label>  
      <span> Town / City <span class="required">*</span></span>  
      <input type="text" name="city">   
    </label>  
    <label>  
      <span> State / County <span class="required">*</span></span>  
      <input type="text" name="city">   
    </label>  
    <label>  
      <span> Postcode / ZIP <span class="required">*</span></span>  
      <input type="text" name="city">   
    </label>  
    <label>  
      <span> Phone Number <span class="required">*</span></span>  
      <input type="tel" name="city">   
    </label>  
    <label>  
      <span> Email Address <span class="required">*</span></span>  
      <input type="email" name="city">   
    </label>  
    <label>  
      <span>Address Type <span class="required">*</span></span>  
      <select name="selection">  
        <option value="select"> Address Type.. </option>  
        <option value="RES">Residential</option>  
        <option value="COM">Commercial</option> 
      </select> 
    </label> 
  </form>
  <div class="Yorder">   
    <table class="table">  
      <colgroup>
        <col style="width: 180px;">
        <col style="width: 40px;">
        <col style="width: 20px;">
        <col style="width: 70px;">
      </colgroup>
      <tr>  
        <th >Product
        </th>
        <th>Qty
        </th>
        <th>Each
        </th>
        <th>Total
        </th>
      </tr>  
      <tr >  
        <td> SQL Server 70-768: Developing SQL Data Models LiveLessons (Video Training) </td>  
        <td> $8.00 </td>  
        <td>1</td>
        <td>22</td>
      </tr>  
      <tr >  
        <td> SQL Server 70-768: Developing SQL Data Models LiveLessons (Video Training) </td>  
        <td> $8.00 </td>  
        <td>1</td>
        <td>224</td>
      </tr>
      <tr >  
        <td> Product Name x 2(Qty) </td>  
        <td> $8.00 </td>  
        <td>1</td>
        <td>224</td>
      </tr>
      <tr >  
        <td> Product Name x 2(Qty) </td>  
        <td> $448.00 </td>  
        <td>1</td>
        <td>22</td>
      </tr>
      <tr >  
        <td> Product Name x 2(Qty) </td>  
        <td> $8.00 </td>  
        <td>1</td>
        <td>22</td>
      </tr>
      <tr>  
        <td> Subtotal </td>  
        <td></td>
        <td></td>
        <td> <b>$0.00</b></td>
      </tr>  
      <tr>  
        <td> Shipping </td>  
        <td>  </td>  
        <td></td>
        <td> <b>$0.00</b></td>
      </tr>
      <tr>  
        <td> Tax </td>  
        <td>  </td>  
        <td></td>
        <td><b>$330.00</b></td>
      </tr>
      <tr>  
        <td> Total </td>  
        <td>  </td>  
        <td></td>
        <td><b>$330.00</b></td>
      </tr>
    </table><br>  
    <!-- <div>  
      <input type="radio" name="dbt" value="dbt" checked> Direct Bank Transfer  
    </div>  
    <p>  
        Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.  
    </p>  
    <div>  
      <input type="radio" name="dbt" value="cd"> Cash on Delivery  
    </div>  
    <div>  
      <input type="radio" name="dbt" value="cd"> Paypal <span>  
      </span>  
    </div>   -->
    <button type="button"> Make Payment </button>  
  </div>  
 </div>  
</div>  
