.container {  
  width: 100%;  
  padding-right: 15px;  
  padding-left: 15px;  
  margin-right: auto;  
  margin-left: auto;  
}  
@media (min-width: 1200px)  
{  
  .container {  
    max-width: 1140px;  
  }  
}  
.d-flex {  
  display: flex;  
  flex-direction: row;  
  background: #f6f6f6;  
  border-radius: 0 0 5px 5px;  
  padding: 25px;  
}  
form {  
  flex: 4;  
}  
.Yorder {  
  flex: 4;  
}  
.title {  
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0, #5195A8), color-stop(100, #70EAFF));  
  background: -moz-linear-gradient(top left, #051114 0%, #70EAFF 100%);  
  background: -ms-linear-gradient(top left, #0c181b 0%, #70EAFF 100%);  
  background: -o-linear-gradient(top left, #102329 0%, #70EAFF 100%);  
  background: linear-gradient(to bottom right, #122429 0%, #70EAFF 100%);  
  border-radius: 2px 2px 0 0 ;  
  padding: 10px;  
  color:white;
  width: 85%;  
      
}  
h2 {  
  margin: 0;  
  padding-left: 15px;   
  font-weight: 400;
}  
.required {  
  color: red;  
}  
label {  
  display: block;  
  margin: 15px;  
}  
table {  
  display: block;  
  margin: 15px;  
}  
label>span {  
  float: left;  
  width: 25%;  
  margin-top: 12px;  
  padding-right: 10px;  
}  
input[type="email"]  
{  
  width: 65%;  
  height: 30px;  
  padding: 5px 10px;  
  margin-bottom: 10px;  
  border: 1px solid #dadada;  
  color: #888;  
}  
select  
{  
  width: 65%;  
  height: 30px;  
  padding: 5px 10px;  
  margin-bottom: 10px;  
  border: 1px solid #dadada;  
  color: #888;  
}  
input[type="text"] {  
  width: 65%;  
  height: 30px;  
  padding: 5px 10px;  
  margin-bottom: 10px;  
  border: 1px solid #dadada;  
  color: #888;  
}  
input[type="tel"]   
{  
  width: 65%;  
  height: 30px;  
  padding: 5px 10px;  
  margin-bottom: 10px;  
  border: 1px solid #dadada;  
  color: #888;  
}  
select {  
  width: 65%;  
  height: 45px;  
  padding: 5px 10px;  
  margin-bottom: 10px;  
}  
.Yorder {  
  margin-top: 0px;  
  height: auto;  
  width: 100%;
  padding: 20px;  
  border: 1px solid #dadada;  
}  
table {  
  margin: 0;  
  padding: 0;  
}  
th {  
  border-bottom: 1px solid #dadada;  
  padding: 10px 0; 
 // width: 100%; 
}  
tr>td:nth-child(1) {  
  text-align: left;  
  color: #2d2d2a;  
}  
tr>td:nth-child(4) {  
  text-align: left;  
  color: #52ad9c;  
}  
td {  
  border-bottom: 1px solid #dadada;  
  padding: 25px 25px 25px 0;  
}  
p {  
  display: block;  
  color: #888;  
  margin: 0;  
  padding-left: 25px;  
}  
.Yorder>div {  
  padding: 15px 0;   

}
    
.summary {  
  width: 100%;  
  margin-top: px;  
  padding: 10px;  
  border: none;  
  border-radius: 30px;  
  background: #52ad9c;  
  color: #fff;  
  font-size: 15px;  
  font-weight: bold;  
}  

button {  
  width: 100%;  
  margin-top: px;  
  padding: 10px;  
  border: none;  
  border-radius: 30px;  
  background: #52ad9c;  
  color: #fff;  
  font-size: 15px;  
  font-weight: bold;  
}  
button:hover {  
  cursor: pointer;  
  background: #428a7d;  
}  

.error{
color: red;
font-size: 10px;
margin-left: 25%
}