<div class="ll-feature bg-warn pt-12 pb-14">
    <div class="container">
        <div class="grid grid-cols-12">
            <div class="_title-wrap bg-black col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3 sm:row-span-3">
                <h2 class="_title text-white">
                    <img src="assets/images/MeasureUp_Logo.jpg" alt=""><br>
                    Practice 
                    Test       
                    Demos
                </h2>
            </div>
            <div class="flex _feature mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
                <div class="flex-none w-16 text-center">
                    <mat-icon>check</mat-icon>
                </div>
                <div class="flex-grow">
                    <h2 class="font-black text-black">MICROSOFT</h2>
                </div>
            </div>
            <div class="flex _feature mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
                <div class="flex-none w-16 text-center">
                    <mat-icon>check</mat-icon>
                </div>
                <div class="flex-grow">
                    <h2 class="font-black text-black">IT SPECIALIST</h2>
                </div>
            </div>
            <div class="flex _feature mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
                <div class="flex-none w-16 text-center">
                    <mat-icon>check</mat-icon>
                </div>
                <div class="flex-grow">
                    <h2 class="font-black text-black">GOOGLE</h2>
                </div>
            </div>
            <div class="flex _feature mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
                <div class="flex-none w-16 text-center">
                    <mat-icon>check</mat-icon>
                </div>
                <div class="flex-grow">
                    <h2 class="font-black text-black">LPI/LINUX</h2>
                </div>
            </div>
            <div class="flex _feature mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
                <div class="flex-none w-16 text-center">
                    <mat-icon>check</mat-icon>
                </div>
                <div class="flex-grow">
                    <h2 class="font-black text-black">LOGICAL OPERATIONS</h2>
                </div>
            </div>
            <div class="flex _feature mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
                <div class="flex-none w-16 text-center">
                    <mat-icon>check</mat-icon>
                </div>
                <div class="flex-grow">
                    <h2 class="font-black text-black">ORACLE</h2>
                </div>
            </div>
            <div class="flex _feature mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
                <div class="flex-none w-16 text-center">
                    <mat-icon>check</mat-icon>
                </div>
                <div class="flex-grow">
                    <h2 class="font-black text-black">CRYSTAL REPORTS</h2>
                </div>
            </div>
            <div class="flex _feature mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
                <div class="flex-none w-16 text-center">
                    <mat-icon>check</mat-icon>
                </div>
                <div class="flex-grow">
                    <h2 class="font-black text-black">ISACA</h2>
                </div>
            </div>
            <div class="flex _feature mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
                <div class="flex-none w-16 text-center">
                    <mat-icon>check</mat-icon>
                </div>
                <div class="flex-grow">
                    <h2 class="font-black text-black">VMware</h2>
                </div>
            </div>
        </div>
    </div>
</div>