.card-deck {
  display: flex;
  flex-flow: row wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.card-deck .card {
  margin-bottom: 15px;
  flex-basis: 77% !important;
  flex-grow: 2 !important;
}
.table-header {
  background: aqua;
  border-style: groove;
}
.btn-checkout{
  height: 70px;
  width: 200px;
  background-color: #f3a009;
  font-size: x-large;

}
.btn-emptycart{

  height: 50px;
  width: 150px;
  background-color: #d4a735;
  font-size: large;
}

