
.card-deck {
  display: flex;
  flex-flow: row wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.card-deck .card {
  margin-bottom: 15px;
  flex-basis: 77% !important;
  flex-grow: 2 !important;
}
.table-header {
  background: aqua;
  border-style: groove;
}
.btn-checkout{
  height: 70px;
  width: 200px;
  background-color: #f3a009;
  font-size: x-large;

}
.title {  
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0, #5195A8), color-stop(100, #70EAFF));  
  background: -moz-linear-gradient(top left, #051114 0%, #70EAFF 100%);  
  background: -ms-linear-gradient(top left, #0c181b 0%, #70EAFF 100%);  
  background: -o-linear-gradient(top left, #102329 0%, #70EAFF 100%);  
  background: linear-gradient(to bottom right, #122429 0%, #70EAFF 100%);  
  border-radius: 2px 2px 0 0 ;  
  padding: 10px;  
  color:white;
  width: 85%;  
      
}  

.btn-emptycart{

  height: 50px;
  width: 150px;
  background-color: #d4a735;
  font-size: large;
}

