<div>
  <div mt-10>
    <h5 class="mb-3 font-medium" mt-5 align="center">My Corporate Sales</h5>
  </div>
  <div class="table-inside">
    <table class="order-table table-auto ltMd:responsive">
      <thead>
        <tr class="border text-left">
          <th>
            <span class="text-gray-800">Id</span>
          </th>
          <th>
            <span class="text-gray-800">Name</span>
          </th>
          <th>
            <span class="text-gray-800">Phone</span>
          </th>
          <th>
            <span class="text-gray-800">Email</span>
          </th>

          <th>
            <span class="text-gray-800">Company Name</span>
          </th>

          <th>
            <span class="text-gray-800">Purpose</span>
          </th>
          <th>
            <span class="text-gray-800">State</span>
          </th>
          <th>
            <span class="text-gray-800">Country</span>
          </th>
          <!-- <th class="text-right">State</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sales of corpsales" class="border">
          <td>
            {{ sales.corpSalesId }}
          </td>
          <td>
            {{ sales.firstName }}
          </td>
          <td>
            {{ sales.phone }}
          </td>
          <td>
            <span>{{ sales.email }}</span>
          </td>
          <td>
            <!-- <span>{{ order.imageName }}</span> -->
            <span>{{ sales.companyName }}</span>
          </td>
          <td>
            <!-- <span><img src="{{ order.imageUrl }}" /></span> -->
            <span>{{ sales.purpose }}</span>
          </td>
          <td>
            <span>{{ sales.state }}</span>
          </td>
          <td>
            <span>{{ sales.country }}</span>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <a [routerLink]="'/corpsales/enquiry'"><button class="btn btn-primary" align="right">New Enquiry</button></a>
    </div>
  </div>
</div>
